.profile{
    max-width: 80%; 
    height: auto; 
    float: none;
    border: solid 4px white;
    margin-top: 65px;
    margin-left: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title{
    font-family: 'Lobster', cursive;
    font-size: 90px;
    color: white /*rgb(217,83,79)*/;
}
.description{
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    margin-top: 20px;
}

.call{
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
}

.wordButton{
    color: #003D6B;
    font-family: 'Oswald', sans-serif;
}

.hov:hover{
    color:rgb(13, 189, 171); 
    text-decoration: none;
}

.icons{
    background: none;
    font-size: 50px;
    border: none;
    color: white;
    padding: 15px;
}


@media screen and (min-width: 600px) and (min-height: 600px) {
    .fullScreen{
        height: 100vh;
    }

    .profile{
        margin-top: 150px;
    }

    .title{
        margin-top: 150px;
    }
}

