.profile{
    max-width: 80%; 
    height: auto; 
    float: none;
    border: solid 4px white;
    margin-top: 65px;
    margin-left: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title{
    font-family: 'Lobster', cursive;
    font-size: 90px;
    color: white /*rgb(217,83,79)*/;
}
.description{
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    margin-top: 20px;
}

.btn {
    background-color: none;
    border: none; 
    color: white; 
    padding: 12px 16px; 
    font-size: 50px; 
    cursor: pointer; 
  }

.btn:hover{
    color:rgb(132, 0, 255); 
}

.call{
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
}

.cta{
    color: rgb(217,83,79);
    font-family: 'Oswald', sans-serif;
    font-size: 50px;;
}

.cta:hover{
    text-decoration: none;
    color: rgb(132, 0, 255);
    background-color: rgb(216, 182, 255);
}

@media screen and (min-width: 600px) and (min-height: 600px) {
    .big{
        height: 100vh;
    }

    .profile{
        margin-top: 150px;
    }

    .title{
        margin-top: 150px;
    }
}
