.projectBanner{
    height: 150px;
    object-fit: cover;
}

.card{
    width: 16rem;
    margin-bottom: 10px;
    display: block;
    margin-left: 0;
    margin-right: 0;
}

.project{
    background: #076D82;
}

.modalImg{
    width: 95%;
    display: inline;
}

.centerButton{
    display: inline;
}

.modalTitle{
    font-family: Oswald;
    color: aliceblue
}

.modalSubtitle{
    font-family: Oswald;
    color: black
}

