.link{
    color: white;
    font-family: 'Oswald', sans-serif;
}

.link:hover{
    color: rgb(13, 189, 171);
    text-decoration: none
}

.brand{
    font-family: 'Lobster', cursive;
}

.nav{
    background: #003D6B;
}