::selection {
    background: #9d74be; /* WebKit/Blink Browsers */
  }
  ::-moz-selection {
    background: #9d74be; /* Gecko Browsers */
  }

.background{
    background-image: linear-gradient(rgb(217,83,79),rgb(226, 29, 115));

 }

